<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rop="http://www.rop.com/schema/rop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.rop.com/schema/rop http://www.rop.com/schema/rop/rop-1.0.xsd">

    <!-- 启动Rop框架 -->
    <rop:annotation-driven
            app-secret-manager="appSecretManager"
            invoke-times-controller="invokeTimesController"
            session-manager="simpleSessionManager"
            ext-error-base-names="i18n/rop/error"
            service-timeout-seconds="1000"
            upload-file-max-size="10"
            upload-file-types="png,gif"
            core-pool-size="100"
            max-pool-size="200"
            queue-capacity="50"
            keep-alive-seconds="300"
            sign-enable="true"
    />

    <bean id="appSecretManager" class="com.web.ropboot.manager.SimpleAppSecretManager"/>
    <bean id="invokeTimesController" class="com.web.ropboot.manager.SimpleInvokeTimesController"/>
    <bean id="simpleSessionManager" class="com.web.ropboot.manager.SimpleSessionManager"/>

    <!-- 设置拦截器 -->
    <rop:interceptors>
        <bean class="com.web.ropboot.interceptor.AppInterceptor"/>
    </rop:interceptors>
</beans>